@font-face {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/space-mono-v12-latin-regular.woff'),
  url('../fonts/space-mono-v12-latin-regular.woff2');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', sans-serif;
}

a {
	text-decoration: none;
	color: black;

}
body {
  display: grid;
  height: 100%;
  place-items: center; 
}

body .wrapper {
  font-size: 20px;
}

header {
	width: 307px;
	margin: 0 auto;
}

header .logo {
  text-align: center;
  margin-top: 180px; 
  margin-bottom: 38px; 
}

header .title {
  display: flex;
  line-height: 29.62px;
  justify-content: space-around;
}

main {
  display: flex;
} 

main .text__block p {
  position: absolute;
  max-width: 400px;
}

main .photo {
	margin-top: 100px;
}

main .arrow {
	margin-top: 50px;
  margin-bottom: 100px; /* Исправить */
}

main .text__block {
	width: 400px;
	height: 257px;
	margin: 0 auto;
  margin-left: 30px; /* Исправить */
  margin-top: 60px; /* Исправить */
} 

footer .nav a {
  line-height: 29.62px;
}

footer .nav {
	margin: 0 auto;
	display: flex;
  margin-bottom: 150px; /* Исправить */
}

footer .links {
  padding: 5px;
  line-height: 35px;
}


